
<div class="container">
    <h2>New Invoice</h2>
<form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()"  >

<label for="invoiceNumber">Invoice Number: </label>
<input type="text" formControlName="invoiceNumber">
<div *ngIf="invoiceForm.controls['invoiceNumber'].touched && invoiceForm.controls['invoiceNumber'].errors?.['required']">
<span>This is required</span>
</div>
<div *ngIf="invoiceForm.controls['invoiceNumber'].errors?.['positive']">
<span>Invoice Number should be positive.</span>
</div>
<div *ngIf=" invoiceForm.controls['invoiceNumber'].errors?.['pattern']">
  <span>Invoice Number should be a valid number (only digits and dashes allowed).</span>
</div>

<label for="invoiceDate">Invoice Date: </label>
<input type="date" formControlName="invoiceDate">
<div *ngIf="invoiceForm.controls['invoiceDate'].touched && invoiceForm.controls['invoiceDate'].errors?.['required']">
  <span>This is required</span>
  </div>
  <div *ngIf="invoiceForm.controls['invoiceDate'].errors?.['dateValidator']">
    <span>Invalid Date format</span>
  </div>




<label for="paymentDueDate">Payment Due Date: </label>
    <input type="date" formControlName="paymentDueDate">
    <div *ngIf="invoiceForm.controls['paymentDueDate'].touched && invoiceForm.controls['paymentDueDate'].errors?.['required']">
      <span>This is required</span>
      </div>




    <label for="referenceNumber">ReferenceNumber: </label>
    <input type="text" formControlName="referenceNumber">
    <div *ngIf="invoiceForm.controls['referenceNumber'].touched && invoiceForm.controls['referenceNumber'].errors?.['pattern']">
      <span>Invoice Number should be a valid number (only digits).</span>
    </div>
    
    <label for="referenceDate">Reference Date: </label>
    <input type="date" formControlName="referenceDate">

    


    <label for="shipTo">Ship To: </label>
    <select formControlName="shipTo">
      <option value="" disabled>Select a state</option>
      <option *ngFor="let state of stateForm" [value]="state">{{ state }}</option>
    </select>

<label for="rate">Rate: </label>
<input type="number" formControlName="rate">
<div *ngIf="invoiceForm.controls['rate'].touched && invoiceForm.controls['rate'].errors?.['required']">
<span>This is required</span>
</div>
<div *ngIf="invoiceForm.controls['rate'].errors?.['positive']">
<span>Rate should be positive.</span>
</div>




    <label for="gst">GST: </label>
    <input type="number" formControlName="gst">
    <div *ngIf="invoiceForm.controls['gst'].touched && invoiceForm.controls['gst'].errors?.['required']">
      <span>This is required</span>
      </div>

      <label for="cgst">CGST: </label>
      <input type="number" formControlName="cgst">


      <label for="igst">IGST: </label>
    <input type="number" formControlName="igst">

    <label for="sgst">SGST: </label>
    <input type="number" formControlName="sgst">
  

    <button type="submit" [disabled]="invoiceForm.invalid">Submit</button>
</form>
</div>


